@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 255 247 237;
  --tw-color-primary-100: 255 237 213;
  --tw-color-primary-200: 254 215 170;
  --tw-color-primary-300: 253 196 50;
  --tw-color-primary-400: 251 146 60;
  --tw-color-primary-500: 249 115 22;
  --tw-color-primary-600: 234 88 12;
  --tw-color-primary-700: 194 65 12;
  --tw-color-primary-800: 154 52 18;
  --tw-color-primary-900: 124 45 18;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fff7ed */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ffedd5 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fed7aa */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fdba74 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #fb923c */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #f97316 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #ea580c */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #c2410c */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #9a3412 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #7c2d12 */
  

  --unique-box-bg-1:#D96A19;
  --unique-box-bg-2: #9945B1;
  --unique-box-bg-3: #33658A;

  --unique-shadow-box-1: 6px 6px 2px 0px #806B34;
  --unique-shadow-box-2: 6px 6px 2px 0px #6f581c;
  --unique-shadow-box-3: 6px 6px 2px 0px #6f581c;
  /* #endregion  /**======== Primary Color =========== */
  --noise-bg: url('/groovepaper.png');
}

@layer base {

  html {
    @apply scroll-smooth;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .space-x {
    @apply sm:px-4 md:px-6 lg:px-16
  }

  .container {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .base-shadow {
    box-shadow: 8px 8px 0 0 rgba(13,13,13,0.90);
  }


  /* BUTTONS  */

  .primary-button {
    @apply py-2 px-14 text-center font-bold border-2 border-black;
  }

  .primary-button-lg {
    @apply px-20 py-3 text-center font-bold border-2 border-black;
    @apply hover:bg-primary-300 transition-all hover:text-[#191919];
  }

  .button-hover-sm-diagonal {
    @apply hover:-translate-y-0.5;
    @apply hover:-translate-x-0.5; 
    @apply hover:shadow-lg hover:transition-all hover:ease-out;
    @apply transition-all ease-in-out; 
  }

  .button-hover-sm {
    @apply hover:-translate-y-1 hover:shadow-lg transition-all ease-in ;
  }

  .button-hover-lg {
    @apply transition-all hover:transition-all ease-in-out hover:ease-in-out;
    @apply hover:-translate-y-1 hover:shadow-xl hover:shadow-gray-300;
  }

  .black-button {
    @apply primary-button border-none shadow-lg text-2xl shadow-gray-300 py-6 px-16 text-primary-300;
  }

  .unique1-shadow {
    box-shadow: var(--unique-shadow-box-1);
  }
  .unique2-shadow {
    box-shadow: var(--unique-shadow-box-2);
  }
  .unique3-shadow {
    box-shadow: var(--unique-shadow-box-3);
  }

  .shadow-sm-black {
    box-shadow: 2px 2px 0 0 #000;
  }
  .shadow-md-black {
    box-shadow: 4px 4px 0 0 #000;
  }
  .shadow-lg-black {
    box-shadow: 6px 6px 0 0 #000;
  }
  .shadow-xl-black {
    box-shadow: 8px 8px 0 0 #000;
  }

  .thick-underline {
    background-image: linear-gradient(to right, #FFc532, #FFC532AA);
    background-size: 95% 30%, 0 22px;
    background-position: 60% 80%, 0 100%;
    background-repeat: no-repeat;
  }

  .space-top {
    padding-top: 6em;
  }
  
  .space-y {
    @apply sm:py-8 md:py-12 lg:py-24
  }

  .noise-bg-with-color {
    background-image: 
      linear-gradient(180deg, #fbe8de, #fff),
      url('/groovepaper.png');
  }

  .noise-bg {
    background-image: url('/groovepaper.png');
  }

  .scrib {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
  }

  .scrib__menu {
    width: 308px;
    height: 276px;
    top: 28%;
    z-index: 1;
    left: 20%;
  }
  .scrib__btn-left {
    /* background: center center; */
    background-size: contain;
    background-repeat: no-repeat;
    left: -24px;
    top: 10px;
  }
  .scrib__btn-right {
    /* background: center center; */
    background-size: contain;
    background-repeat: no-repeat;
    right: -24px;
    top: 10px;
  }
}


.services {
  background: linear-gradient(180deg, rgba(255, 182, 175, 0) 0%, #FFFFFF 100%);
  @apply noise-bg;
}

.pricings {
  position: relative;
  background-image: 
    linear-gradient(180deg, #fbe8de, #fff),
    url('/groovepaper.png');
  @apply noise-bg-with-color;
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  @apply space-top pb-24;
}

.processes {
  position: relative;
  background-image: url('/hero__noise.png'), linear-gradient(135deg, #ffc532, rgba(255, 197, 49, 0.9));
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;

}


.review__card {
  @apply max-w-xl p-8 flex flex-col justify-start rounded-xl;
  @apply shadow-2xl justify-around mx-6;
  background-image: linear-gradient(180deg, #ffc53299, rgba(255, 197, 51, 0.17));
}

.navbar {
  @apply bg-transparent noise-bg;
}

.contact-section {
  background-color: #faf9f7;
  background-image: url('https://assets.website-files.com/62222a5eb3c88f3dfe738b25/62726fdfa3fa21da2d220240_dots-bg.png');
  background-position: 0 0;
  background-size: 2rem 2rem;
  color: #19191c;
}

.form {
  @apply grid;
  grid-template-columns: 1fr;
}

.form {
  line-height: 2rem;
}

select {
  background-position: left .5rem center;
}


.scrib-menu {
  position: absolute;
  /* @apply bg-no-repeat; */
  left: 0%;
  bottom: 0%;
}

.project-item:nth-child(even) {
  @apply lg:ml-auto lg:mr-0 sm:mx-auto;
}


.project-item:nth-child(odd) {
  @apply sm:mx-auto lg:ml-0 lg:mr-auto;
}

.center-with-abs-left {
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
}
